# Dependencies
node_modules
npm-debug.log
yarn-error.log

# Next.js
.next
out

# Testing
coverage

# Misc
.git
.gitignore
.env*.local
.DS_Store
*.pem

# IDE
.idea
.vscode
*.swp
*.swo

# Documentation
README.md
docs

# Development files
*.md
*.log
